.titreh2 {
    color: #6472AC;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

span.required {
    color: red;
}

#formulaire {
    display: flex;
    justify-content: space-around;
}


input {
    border: none;
    outline: none;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    width: 100%;
    height: 45px;
    background-color: #F5F6F8;
    margin: 0.7%;
    border-bottom: 2px solid #adadad;
}

select {
    border: none;
    outline: none;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    width: 100%;
    height: 45px;
    background-color: #F5F6F8;
    margin: 0.7%;
}

textarea {
    margin-top: 1%;
    margin: 0.7%;

}

label {
    padding-top: 1%;
    display: inline-block;

}

input[type=submit] {
    border: solid 2px #6472AC;
    width: 100%;
    background: none;
    cursor: pointer;
    color: #6472AC;
    border-radius: 9px;
    font-size: 1.2rem;
    margin: 0px;
    margin-top: 2vh;

}

input[type=checkbox] {
    width: auto;
    height: auto;
}

input[type=submit]:hover {
    border: solid 2px #6472AC;
    background: #6472AC;
    color: #fff;
    border-radius: 7px;
    font-size: 1.2rem;
}

@media all and (max-width:425px) {
    label {
        font-size: 0.9rem;
    }

    input,
    textarea,
    select {
        font-size: 10px;
    }
}

@media all and (max-width:768px) {
    form {
        float: left;
    }
}