.titre{
    color: #6472AC;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

/*Organisation flex du container*/
#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#articles{
    width: 100%;
}

#recap{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2%;
    margin-right: 2%;
    border-bottom: 1px solid grey;
}

.price{
    padding-top: 8%;
    font-weight: bold;
}

.leftbox{
    grid-column: 3;
    text-align: end;
    margin: 5%;
}

.nomproduit{
    text-align: left;
}

.infos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.right{
    text-align: right;
}

.panierimg{
    width: 150px;
}

/*Boutton envoyer*/
input[type=submit]{
    border: solid 2px #6472AC;
    background: none;
    cursor: pointer;
    color: #6472AC;
    border-radius: 9px;
    padding: 1vw;
    margin: 2%;
    font-size: 1.2rem;
}

input[type=submit]:hover{
    background: #6472AC;
    border: solid 2px #6472AC;
    color: white;
    border-radius: 7px;
    padding: 1vw;
    margin: 2%;
}

.submit{
    text-align: center;
}

h4{
    font-size: 1.5rem;
    text-align: center;
}


@media screen and (max-width: 1250px) {
    #container{
        display: block;
    }

    #recap{
        width: 100%;
    }
    .article{
        margin-right: 0px;
    }
}
